.product-create {
    width: 85vw;
    height: 79vh;
    margin: 0.1vw;
    border: 1px solid #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eeeeee00;
  }

  .main-product-content{
    color:black;
  }